@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-almost-white text-primary-night-violet font-secondary;
}

.text-h1 {
  @apply font-primary text-3xl lg:text-7xl font-normal;
}

/* Theme form styles */
select,
input {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
}

input[type="range"] {
  height: 36px; // needed for Firefox
  --_c: color-mix(in srgb, theme(colors.primary-night-violet), #000 var(--p, 0%));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

// Chromium
input[type="range"]::-webkit-slider-thumb {
  height: 36px;
  width: 10px;
  background: var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #21093a10 0) 0 1 / calc(50% - 8px / 2) 100vw/0 100vw;
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
  background: url("./img/drag-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 52px;
}

// Firefox
input[type="range"]::-moz-range-thumb {
  height: 36px;
  width: 10px;
  background: var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #21093a10 0) 0 1 / calc(50% - 8px / 2) 100vw/0 100vw;
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
  background: url("./img/drag-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 52px;
}
